In [5]:
from bs4 import BeautifulSoup
import requests
page= requests.get('https://www.bewakoof.com/women-tshirts?ga_q=tshirts')
soup=BeautifulSoup(page.content)
name =[]
for i in soup.find_all('div',class_="productTypeBox"):
    name.append(i.text)
    
    
price =[]
for i in soup.find_all('span',class_="discountedPriceText"):
    price.append(i.text)
    
  
image=[]
for i in soup.find_all("img",class_="productImgTag"):
    image.append(i.text)
    
    
print(len(name),len(price),len(image))
     
#making a data frame
import pandas as pd
df= pd.DataFrame({'PRODUCT NAME':name,'PRICE':price})
df

10 10 10

                      PRODUCT NAME  PRICE
0  LAST SIZES LEFT - SPECIAL PRICE  ₹ 299
1                         Slim fit  ₹ 349
2  LAST SIZES LEFT - SPECIAL PRICE  ₹ 199
3  LAST SIZES LEFT - SPECIAL PRICE  ₹ 199
4  LAST SIZES LEFT - SPECIAL PRICE  ₹ 299
5  LAST SIZES LEFT - SPECIAL PRICE  ₹ 299
6  LAST SIZES LEFT - SPECIAL PRICE  ₹ 249
7  LAST SIZES LEFT - SPECIAL PRICE  ₹ 199
8  LAST SIZES LEFT - SPECIAL PRICE  ₹ 199
9                         Slim fit  ₹ 349