In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\jishn\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\jishn\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\jishn\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\jishn\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: sortedcontainers in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: sniffio in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: async-generator>=1.9 in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: outcome in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: pycparser in c:\users\jishn\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\jishn\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: certifi in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: six>=1.5.2 in c:\users\jishn\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\jishn\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#lets import all required librabries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
#lets first connect to web driver
driver=webdriver.Chrome(r'C:/Users/jishn/Downloads/chromedriver_win32/chromedriver.exe')   
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.naukri.com/'
driver.get(url)
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [4]:
#write on search bar
search_job.send_keys("Data Analyst")
#finding web elemnt for search locn bar using absolute path
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [7]:
#finding web element for job location bar
search_locn.send_keys("Bangalore")
#clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn.click()

In [8]:
#lets extract all web elements having job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)

20

In [9]:
job_titles[0:10]

['Hiring For Data Analyst I(SQL & Python)',
 'Data Analyst',
 'Data Analyst / Data Scientist / Business Analytics / Fresher - MNC',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst/ business analyst/ Data analytics/- Python & SQL',
 'MIS Executive / Data Analyst / Business Analytics Jobs- MNC',
 'Research and Data Analyst',
 'Data Analyst - 3rd Party Payroll',
 'Data Coordinator | Data Analyst | MS Excel | Typing | Bangalore']

In [10]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_names=[]

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

['Clario India Pvt Ltd',
 'TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED',
 'GABA Consultancy services',
 'M/S RS COMPONENTS CONTROLS (INDIA) LIMITED',
 'Snaphunt',
 'Data Analytics company (MNC) US based',
 'GABA Consultancy services',
 'WIN HOME INSPECTION INDIA PRIVATE LIMITED',
 'Flipkart',
 'Inspiration Manpower Consultancy Pvt. Ltd.']

In [11]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
experience=[]

for i in exp_tags:
    experience.append(i.text)
    
experience[0:10]

['0-2 Yrs',
 '0-5 Yrs',
 '0-0 Yrs',
 '4-8 Yrs',
 '0-5 Yrs',
 '3-8 Yrs',
 '0-5 Yrs',
 '1-6 Yrs',
 '2-4 Yrs',
 '0-1 Yrs']

In [12]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')
location=[]

for i in locn_tags:
    location.append(i.text)
    
location[0:10]

['Bangalore/Bengaluru',
 'Gurgaon/Gurugram',
 'Noida, New Delhi, Delhi / NCR',
 'Noida',
 'Hyderabad/Secunderabad',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Noida, Delhi / NCR\n(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Sadashiva Nagar)']

In [16]:
len(job_titles),len(company_names),len(location)

(20, 20, 20)

In [17]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=company_names
jobs['Loaction']=location
jobs

,Job Title,Company,Loaction
0,Hiring For Data Analyst I(SQL & Python),Clario India Pvt Ltd,Bangalore/Bengaluru
1,Data Analyst,TOTAL MARKETING SUPPORT INDIA PRIVATE LIMITED,Gurgaon/Gurugram
2,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,"Noida, New Delhi, Delhi / NCR"
3,Data Analyst,M/S RS COMPONENTS CONTROLS (INDIA) LIMITED,Noida
4,Data Analyst,Snaphunt,Hyderabad/Secunderabad
5,Data Analyst/ business analyst/ Data analytics...,Data Analytics company (MNC) US based,"Noida, Gurgaon/Gurugram, Delhi / NCR"
6,MIS Executive / Data Analyst / Business Analyt...,GABA Consultancy services,"Noida, Gurgaon/Gurugram, Delhi / NCR"
7,Research and Data Analyst,WIN HOME INSPECTION INDIA PRIVATE LIMITED,"Noida, Delhi / NCR\n(WFH during Covid)"
8,Data Analyst - 3rd Party Payroll,Flipkart,Bangalore/Bengaluru
9,Data Coordinator | Data Analyst | MS Excel | T...,Inspiration Manpower Consultancy Pvt. Ltd.,Bangalore/Bengaluru(Sadashiva Nagar)
10,Associate Data Analyst,CeX WeBuy Entertainment Pvt.Ltd,Mumbai (All Areas)(Lower Parel)
11,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb..."
12,Lead Data Analyst - Marketing,Tide Software,New Delhi
13,SEO Data Analyst,Internet Brands,Mumbai
14,Intern - Data Analyst,TMF Group,Gurgaon/Gurugram
15,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
16,Senior Data Analyst,Flipkart,Bangalore/Bengaluru
17,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
18,Senior Data Analyst II,Flipkart,Bangalore/Bengaluru
19,Data Analyst I,Cerner,Bangalore/Bengaluru