We will scrape 4 fields for each job as mentioned below:

1.Job title
2.company name
3.Location of job
4.Experience required

In [1]:
#1st install selenium library
!pip install selenium

Collecting selenium
  Downloading selenium-4.1.3-py3-none-any.whl (968 kB)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\jishn\anaconda3\lib\site-packages (from selenium) (1.26.4)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Downloading trio-0.20.0-py3-none-any.whl (359 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: idna in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\jishn\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Collecting outcome
  Downloading outcome-1.1.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in c:\users\jishn\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.1.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\users\jishn\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: six>=1.5.2 in c:\users\jishn\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)
Collecting h11<1,>=0.9.0
  Downloading h11-0.13.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, wsproto, trio, trio-websocket, selenium
Successfully installed h11-0.13.0 outcome-1.1.0 selenium-4.1.3 trio-0.20.0 trio-websocket-0.9.2 wsproto-1.1.0

In [2]:
#lets import all required librabries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [3]:
#lets first connect to web driver
driver=webdriver.Chrome(r'C:/Users/jishn/Downloads/chromedriver_win32/chromedriver.exe')

In [4]:
driver=webdriver.Chrome('chromedriver.exe')

In [5]:
 url='https://www.naukri.com/'
driver.get(url)

In [6]:
search_job=driver.find_element_by_class_name("suggestor-input ")
search_job

In [7]:
#write on search bar
search_job.send_keys("Data Scientist")

In [8]:
#finding web elemnt for search locn bar using absolute path
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [9]:
#finding web element for job location bar
search_locn.send_keys("Delhi")

In [10]:
#clicking using absolute xpath function
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [11]:
 search_btn

In [12]:
search_btn.click()

In [13]:
 salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/p/span[1]')

In [14]:
salary_check.click()

Extracting Job titles

In [19]:
#lets extract all web elements having job titles
title_tags=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [21]:
len(title_tags)

20

In [22]:
title_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="28f5e093716b46ceb14d9b720fb60f33", element="629819a8-969d-4f6e-ada8-662180fd1bbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28f5e093716b46ceb14d9b720fb60f33", element="84372260-fc2b-4a7f-881b-176946c22e23")>]

In [ ]:
#now the text of job title is inside the web elements extracted above

In [23]:
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)
len(job_titles)
job_titles[0:2]

['Data Scientist', 'Data Scientist']

 Extracting company names

In [24]:
company_tags=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_tags[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="28f5e093716b46ceb14d9b720fb60f33", element="94c48d75-d20e-409a-ab89-8f9b7953dc30")>,
 <selenium.webdriver.remote.webelement.WebElement (session="28f5e093716b46ceb14d9b720fb60f33", element="a90d69a8-f8b4-4b35-982e-741138e69ede")>]

In [25]:
comapany_names=[]

for i in company_tags:
    comapany_names.append(i.text)
comapany_names[0:2]

['Korea Trade Center', 'Genpact']

Extracting Experience

In [26]:
exp_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [27]:
len(exp_tags)

20

In [28]:
experience=[]

for i in exp_tags:
    experience.append(i.text)
    
experience[0:2]

['3-4 Yrs', '6-10 Yrs']

extracting location

In [30]:
locn_tags=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [31]:
len(locn_tags)

20

In [32]:
location=[]

for i in locn_tags:
    location.append(i.text)
    
location[0:2]

['New Delhi, Gurgaon/Gurugram, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 'Gurgaon/Gurugram, Bangalore/Bengaluru']

In [35]:
len(job_titles),len(comapany_names),len(experience),len(location)

(20, 20, 20, 20)

In [36]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Company']=comapany_names
jobs['Experience']=experience
jobs['Loaction']=location
jobs

,Job Title,Company,Experience,Loaction
0,Data Scientist,Korea Trade Center,3-4 Yrs,"New Delhi, Gurgaon/Gurugram, Bangalore/Bengalu..."
1,Data Scientist,Genpact,6-10 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
2,Data Analyst / Data Scientist / Business Analy...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Delhi / NCR"
3,Only Fresher / Python Data Scientist / Trainee...,GABA Consultancy services,0-0 Yrs,"Noida, New Delhi, Gurgaon/Gurugram"
4,Senior Data Scientist,DECISION POINT PRIVATE LIMITED,2-5 Yrs,"Gurgaon/Gurugram, Chennai\n(WFH during Covid)"
5,Data Scientist - Immediate Joiners only,MLAI Digital,3-6 Yrs,"Bangalore/Bengaluru, Delhi / NCR"
6,Data Scientist,Gauge Data Solutions Pvt Ltd,2-7 Yrs,Noida
7,Data Scientist,Alp Consulting Limited,1-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Chennai..."
8,"Data Scientist,Data Analyst",Maximus Human Resources Private Limited,1-6 Yrs,"Mumbai, Gurgaon/Gurugram"
9,"Developers, Data Scientists, Web Designers, An...",Cogmac Technologies,1-5 Yrs,Noida
10,Lead Data Analyst - Marketing,Tide Software,0-5 Yrs,New Delhi
11,Senior Data Analyst,Grofers,4-7 Yrs,Gurgaon/Gurugram
12,Quality Analyst / Data Engineer / Associate An...,GABA Consultancy services,0-5 Yrs,"Noida, New Delhi, Delhi / NCR"
13,Lead Data Analyst,Grofers,5-7 Yrs,Gurgaon/Gurugram
14,Data Analyst,Grofers,1-2 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
15,Data Analyst,Analog Legalhub Technology Solutions Pvt Ltd,0-4 Yrs,New Delhi
16,Junior Data Analyst,SiCureMi Healthcare Technologies,0-2 Yrs,Delhi
17,Data Engineer,Collabera India,1-6 Yrs,"New Delhi, Pune, Gurgaon/Gurugram, Bangalore/B..."
18,Senior Data Analyst II,Axa XL,3-8 Yrs,Silokhera Gurgaon
19,Data Analyst,Netomi,0-1 Yrs,Gurgaon