In [1]:
#lets import all required librabries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [11]:
#lets first connect to web driver
driver=webdriver.Chrome(r'C:/Users/jishn/Downloads/chromedriver_win32/chromedriver.exe')   
driver=webdriver.Chrome('chromedriver.exe')
url='https://www.ambitionbox.com/salaries'
driver.get(url)

In [12]:
search_job=driver.find_element_by_class_name("tt-input")
search_job

In [13]:
#write on search bar
search_job.send_keys("Data Scientist")

In [14]:
search_btn=driver.find_element_by_xpath('/html/body/div/div/div/div[2]/div/div/div/button/span')
search_btn.click()

In [15]:
#lets extract all web elements having job titles
title_tags=driver.find_elements_by_xpath('//div[@class="name"]')
job_titles=[]

for i in title_tags:
    job_titles.append(i.text)

    
company_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
company_names=[]

for i in company_tags:
    company_names.append(i.text)
company_names[0:10]

exp_tags=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
experience=[]

for i in exp_tags:
    experience.append(i.text)
    
experience[0:10]
locn_tags=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
location=[]

for i in locn_tags:
    location.append(i.text)

In [18]:
jobs=pd.DataFrame()
jobs['Job Title']=job_titles
jobs['Experience']=experience
jobs

,Job Title,Experience
0,Ab Inbev\nbased on 28 salaries,Data Scientist\n . \n3-4 yrs exp
1,ZS\nbased on 15 salaries,Data Scientist\n . \n2 yrs exp
2,Optum\nbased on 25 salaries,Data Scientist\n . \n3-4 yrs exp
3,Fractal Analytics\nbased on 77 salaries,Data Scientist\n . \n2-4 yrs exp
4,Tiger Analytics\nbased on 33 salaries,Data Scientist\n . \n3-4 yrs exp
5,UnitedHealth\nbased on 52 salaries,Data Scientist\n . \n2-4 yrs exp
6,Verizon\nbased on 14 salaries,Data Scientist\n . \n4 yrs exp
7,Ganit Business Solutions\nbased on 13 salaries,Data Scientist\n . \n4 yrs exp
8,Ericsson\nbased on 43 salaries,Data Scientist\n . \n3-4 yrs exp
9,Deloitte\nbased on 57 salaries,Data Scientist\n . \n2-4 yrs exp